$black:#000000;
$white:#ffffff;
$blue:#0076C5;
$orange:#F68338;
$green:#7DC000;


//font size
$fsize:15px;
$uff:'Ubuntu', sans-serif; 
$foswald:'Oswald', sans-serif;

//devices breakpoints
$mobile-width:320px;  //portrait phones, less than 576px
$mobilelscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:991px; // Large devices (desktops, 992px and up)
$desktop-width:1200px; // Extra large devices (large desktops, 1200px and up)
