@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
* {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.fwhite {
  color: #ffffff;
}

.cust-container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cust-container {
    width: 90%;
  }
}

.brd-link {
  background: transparent;
  padding: 12px 25px;
  border: 1px solid #ffffff;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.fsbold, .brd-link, .products .product-row .product-col .title-product {
  font-weight: 500;
}

.flight, .subPage-Main .subpage-header .row p, .subPage-Main .subpage-body p, .subPage-Main .subpage-body .domainsdiv p {
  font-weight: 300;
}

.fbold, .subPage-Main .subpage-body .countcol .h1 {
  font-weight: 700;
}

.ligtgraybg {
  background: #F5F4F4;
}

.lightgreenbg {
  background: #FBFFF5;
}

.fgray {
  color: gray;
}

.dynamic-header .mid-nav {
  opacity: 0;
  margin-top: -100px;
}

.dynamic-subheader {
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  z-index: 99;
}

.dynamic-subheader .navbar-brand img {
  width: 160px;
}

.dynamic-subheader .bsnav {
  padding-top: 0;
  padding-bottom: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.dynamic-subheader .nav-link {
  color: #000000 !important;
}

header .navbar-brand img {
  width: 200px;
}

@media (min-width: 768px) and (max-width: 990px) {
  header .navbar-brand img {
    width: 160px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .mid-nav {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .mid-nav {
    display: none;
  }
}

header .mid-nav .nav-link {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

@media (min-width: 768px) and (max-width: 990px) {
  header .mid-nav .nav-link {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

header .mid-nav .nav-link:hover {
  color: #7DC000;
}

header .rt-nav .search-icon .icomoon {
  font-size: 20px;
  color: #ffffff;
}

header .rt-nav .hamburg {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 23px;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

header .rt-nav .hamburg .icomoon {
  font-size: 15px;
}

.brd-link {
  font-size: 17px;
}

.brd-link:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-home {
    height: 100vh !important;
    padding: 0 !important;
  }
}

.banner-home .swiper-pagination-bullets {
  bottom: 40px;
}

.banner-home .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 30px;
  background: #ffffff;
  border-radius: 0;
  height: 4px;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.banner-home .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #0076C5;
  height: 4px;
  width: 55px;
}

.banner-home .swiper-slide {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
}

.banner-home .swiper-slide:before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#F68338), to(#7DC000));
  background-image: linear-gradient(to right, #F68338, #7DC000);
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-home .swiper-slide:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/bg-trans.png) repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.banner-home .sl01 {
  background-image: url(../img/section01bg.jpg);
}

.banner-home .sl02 {
  background-image: url(../img/section02bg.jpg);
}

.banner-home .sl03 {
  background-image: url(../img/section03bg.jpg);
}

.banner-home .sl04 {
  background-image: url(../img/section04bg.jpg);
}

.banner-home .container {
  position: relative;
  z-index: 9;
  height: auto !important;
}

.banner-home .container article {
  width: 60%;
  padding: 50px 0 10px 50px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 990px) {
  .banner-home .container article {
    width: 90%;
    margin-left: 10%;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-home .container article {
    border: none;
    width: 100%;
    padding: 50px 0 10px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner-home .container article {
    border: none;
    width: 100%;
    padding: 50px 0 10px 15px;
  }
}

.banner-home .container article h1 {
  line-height: 55px;
  padding-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-home .container article h1 {
    font-size: 35px;
    padding-bottom: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner-home .container article h1 {
    font-size: 35px;
    padding-bottom: 5px;
  }
}

.banner-home .container article p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner-home .container article p {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .banner-home .container article p {
    font-size: 16px;
  }
}

.services {
  background: #035AA6;
}

.services .serviceleft-img {
  height: 100vh;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}

.services .right-services {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.services .right-services .service-col {
  padding: 0 0 25px 15px;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services .right-services .service-col {
    padding: 0 0 24px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services .right-services .service-col {
    padding: 0 0 24px 15px;
  }
}

.services .right-services .service-col .icomoon {
  font-size: 55px;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services .right-services .service-col .h5 {
    font-size: 17px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services .right-services .service-col .h5 {
    font-size: 17px;
  }
}

.services .right-services .service-col .link {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #000000;
}

.services .right-services .service-col .link:hover {
  color: #000000;
}

.services .right-services .service-col .link:hover .icomoon {
  color: #000000;
}

.services .right-services .service-col .link .icomoon {
  font-size: 15px;
  top: 3px;
  position: relative;
}

.aboutdiv {
  background: #EF962D;
}

@media (min-width: 320px) and (max-width: 575px) {
  .aboutdiv {
    height: auto !important;
    padding: 50px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutdiv {
    height: auto !important;
    padding: 25px 0;
  }
}

.aboutdiv .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutdiv .ltarticle {
  position: relative;
  padding-right: 50px;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .aboutdiv .ltarticle {
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutdiv .ltarticle {
    padding-right: 0;
  }
}

.aboutdiv .ltarticle p {
  font-size: 20px;
  line-height: 40px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .aboutdiv .ltarticle p {
    font-size: 15px;
    line-height: 28px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .aboutdiv .ltarticle p {
    font-size: 15px;
    line-height: 28px;
  }
}

.aboutdiv .teamcol-main {
  position: relative;
  top: 20%;
}

.aboutdiv .teamcol-main .col-md-3 {
  padding-left: 0;
}

.aboutdiv .teamcol {
  position: relative;
}

.products {
  background: #932AC8;
}

.products .container {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 575px) {
  .products .product-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .products .product-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.products .product-row .product-col {
  width: 33.3%;
  padding: 5px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .products .product-row .product-col {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .products .product-row .product-col {
    width: 50%;
  }
}

.products .product-row .product-col .title-product {
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: inherit;
  right: 10px;
  bottom: 10px;
  left: inherit;
}

.products .products-article {
  position: relative;
}

.testimonials {
  background: #698D00;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testimonials {
    padding-top: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testimonials {
    height: auto !important;
    padding: 25px 0;
  }
}

.testimonials .cust-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonials .cust-container .row {
  width: 100%;
}

.testimonials .swiper-container {
  padding-top: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testimonials .swiper-container {
    padding-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testimonials .swiper-container {
    padding-top: 20px;
  }
}

.testimonials .swiper-container .swiper-slide {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .swiper-container .swiper-slide p {
  font-size: 30px;
  text-align: left;
  line-height: 40px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testimonials .swiper-container .swiper-slide p {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testimonials .swiper-container .swiper-slide p {
    font-size: 16px;
    line-height: 30px;
  }
}

.testimonials .swiper-container .swiper-slide .test-name {
  width: 100%;
}

.testimonials .swiper-container .swiper-slide .test-name small {
  font-size: 13px;
}

.testimonials .swiper-container .swiper-slide .test-name .h5 {
  font-size: 25px;
  margin-bottom: 0;
  width: 100%;
  text-align: right;
}

.testimonials .swiper-container .swiper-pagination {
  text-align: left;
}

.testimonials .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  background: #ffffff;
  border-radius: 0;
}

.testimonials .swiper-container .swiper-pagination .swiper-pagination-bullet:focus {
  border: none;
}

.brd-link {
  border-color: #000000;
  color: #000000;
  margin-top: 20px;
}

.brd-link:hover {
  background: #000000;
  color: #ffffff;
}

.careers {
  background: #848ccf;
}

@media (min-width: 320px) and (max-width: 575px) {
  .careers {
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .careers {
    padding: 25px 0;
  }
}

.careers .careertext-col {
  background: #ffffff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 40px 0;
  position: relative;
  z-index: 10;
  margin: -75px 0 0 0;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .careers .careertext-col {
    margin: -75px 15px  15px;
    padding: 0px 0 35px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .careers .careertext-col {
    margin: -75px 15px  15px;
    padding: 0px 0 35px 0;
  }
}

.slidediv {
  color: #ffffff;
}

.slidediv .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  place-content: flex-start;
}

.slidediv .cust-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.slidediv .section-title {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slidediv .section-title {
    font-size: 28px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slidediv .section-title {
    font-size: 28px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slidediv {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slidediv {
    height: auto;
    padding: 30px 0;
  }
}

.slidediv p {
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slidediv p {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slidediv p {
    font-size: 15px;
  }
}

.links {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 99;
  margin-top: -12%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .links {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .links {
    display: none;
  }
}

.links a {
  display: block;
  margin: 35px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  width: 200px;
  height: 1px;
}

.links a:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #ffffff;
  opacity: 0.6;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
}

.links a span {
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  left: -10px;
}

.links a:hover:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #ffffff;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
}

.links a:hover span {
  position: absolute;
  top: 8px;
  right: inherit;
  bottom: inherit;
  left: 0;
  display: block;
  font-size: 12px;
  color: #ffffff;
  line-height: 15px;
  opacity: 1;
  left: 0;
}

.dynamicLinks a:before {
  background: #000000;
  opacity: 0.8;
}

.dynamicLinks a:hover:before {
  background: #000000;
  opacity: 1;
}

.dynamicLinks a:hover span {
  color: #000000;
}

.dynamicLinks a.Select-nav:before {
  content: '';
  background: #000000;
  opacity: 1;
}

.dynamicLinks a.Select-nav span {
  color: #000000;
  opacity: 1;
}

a.Select-nav:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #ffffff;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
}

a.Select-nav span {
  position: absolute;
  top: 8px;
  right: inherit;
  bottom: inherit;
  left: 0;
  display: block;
  font-size: 12px;
  color: #ffffff;
  line-height: 15px;
  opacity: 1;
}

footer {
  background: #F3F8FF;
  padding-top: 50px;
}

@media (min-width: 576px) and (max-width: 767px) {
  footer .col-sm-6 {
    padding-top: 25px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .h5 {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  footer .h5 {
    font-size: 16px;
  }
}

footer p {
  font-size: 13px;
  line-height: 22px;
}

footer ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer ul {
    padding-bottom: 30px;
  }
}

footer ul li a {
  font-size: 14px;
  padding: 2px 0;
  display: block;
  color: #000000;
}

footer ul li a:hover {
  color: #0076C5;
}

footer .footer-social .nav-link {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  padding: 10px 3px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  line-height: 20px;
  margin: 10px 5px;
}

footer .movetop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 53px;
  display: none;
  background: #F68338;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .movetop:hover {
  background: #7DC000;
}

footer .movetop .icomoon {
  font-size: 21px;
  color: #ffffff;
}

.closenav {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 15px;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  z-index: 999;
  cursor: pointer;
}

.closenav .icomoon {
  font-size: 25px;
}

.slide-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.slide-nav .right-nav {
  height: 100vh;
  padding: 35px 35px 0 0;
  position: relative;
  background: #ffffff;
  overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slide-nav .right-nav {
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.slide-nav .right-nav .submenu-brand {
  margin-bottom: 20px;
  position: relative;
  z-index: 999;
  display: inline-block;
  left: 35px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slide-nav .right-nav .submenu-brand {
    top: -24px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slide-nav .right-nav .submenu-brand {
    top: -24px;
  }
}

.slide-nav .right-nav .submenu-brand img {
  width: 150px;
}

.slide-nav .right-nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(../img/black-twill.png) repeat 0 0;
  opacity: 0.1;
  z-index: 0;
}

.slide-nav .right-nav .primary-nav {
  position: relative;
  z-index: 99;
  margin: 0;
  padding: 0;
}

.slide-nav .right-nav .primary-nav li {
  position: relative;
}

.slide-nav .right-nav .primary-nav li a {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  padding-bottom: 15px;
  display: block;
  font-weight: 600;
  position: relative;
  padding-left: 35px;
}

.slide-nav .right-nav .primary-nav li a:before {
  content: '';
  width: 1px;
  height: 3px;
  background: #000000;
  position: absolute;
  bottom: 8px;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.slide-nav .right-nav .primary-nav li a:hover {
  color: gray;
}

.slide-nav .right-nav .primary-nav li a:hover:before {
  content: '';
  width: 30px;
  opacity: 1;
}

.slide-nav .right-nav .secondary-nav {
  position: relative;
  z-index: 999;
  margin: 0;
  padding: 0 0 0 35px;
}

.slide-nav .right-nav .secondary-nav li a {
  color: #000000;
  cursor: pointer;
  padding: 5px 0;
  display: block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.slide-nav .right-nav .secondary-nav li a:hover {
  color: gray;
}

.sub01_01 {
  background: #07689f;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: block;
  position: relative;
}

.sub01_01 .icomoon {
  font-size: 150px;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: inherit;
  right: 20px;
  bottom: 20px;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sub01_01 {
    background: #d54062;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.childdiv .h2 {
  font-size: 45px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 25px;
  padding-left: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .childdiv .h2 {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .childdiv .h2 {
    font-size: 30px;
  }
}

.childdiv .h2 a {
  color: #ffffff;
}

.colorcd1 {
  background: #DF9926;
  background-size: cover;
  height: 50vh;
  display: block;
  width: 100%;
  position: relative;
}

.colorcd1 .icomoon {
  font-size: 150px;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: inherit;
  right: 20px;
  bottom: 20px;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .colorcd1 {
    background: #DF9926;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .colorcd1 {
    background: #DF9926;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.colorcd1 .h3 {
  color: #ffffff;
}

.colorcd2 {
  background: #0f9ffa;
  background-size: cover;
  height: 50vh;
  display: block;
  width: 100%;
  position: relative;
}

.colorcd2 .icomoon {
  font-size: 150px;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: inherit;
  right: 20px;
  bottom: 20px;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .colorcd2 {
    background: #0f9ffa;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .colorcd2 {
    background: #0f9ffa;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.colorcd2 .h3 {
  color: #ffffff;
}

.colorcd3 {
  background: #963596;
  background-size: cover;
  height: 50vh;
  display: block;
  width: 100%;
  position: relative;
}

.colorcd3 .icomoon {
  font-size: 150px;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: inherit;
  right: 20px;
  bottom: 20px;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .colorcd3 {
    background: #963596;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .colorcd3 {
    background: #963596;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.colorcd3 .h3 {
  color: #ffffff;
}

.submenu {
  position: relative;
  left: -100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
  background: #ffffff;
}

.submenuAddClass {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 1;
  background: #ffffff;
  z-index: 999;
  width: 100%;
}

.Industries {
  padding: 20px;
}

.Industries .col-md-6 {
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid gray;
  padding: 0;
}

.Industries .col-md-6:hover {
  background: #7DC000;
  color: #ffffff;
}

.Industries .col-md-6:hover a {
  color: #ffffff;
}

.Industries .col-md-6 .h5 a {
  font-size: 14px;
  color: #000000;
  padding: 30px 20px;
  width: 100%;
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.Industries .col-md-6 .h5 a .icomoon {
  font-size: 25px;
  padding: 0 10px 0 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .Industries .col-md-6 .h5 a {
    padding: 12px;
  }
}

.Industries .col-md-6 .h5 a:hover {
  background: #7DC000;
  color: #ffffff;
}

.subPage-Main {
  min-height: 1000px;
  /* All delay classes will take half the time to start */
}

.subPage-Main .subpage-header {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 990px) {
  .subPage-Main .subpage-header {
    height: 50vh;
    background-size: inherit;
    margin-bottom: 25px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-header {
    height: 55vh;
    background-size: inherit;
    margin-bottom: 25px;
  }
}

.subPage-Main .subpage-header:before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#F68338), to(#7DC000));
  background-image: linear-gradient(to right, #F68338, #7DC000);
  opacity: 0.05;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.subPage-Main .subpage-header:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/bg-trans.png) repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.subPage-Main .subpage-header .row {
  position: relative;
  z-index: 9;
}

.subPage-Main .subpage-header .row h1 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 60px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-header .row h1 {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-header .row h1 {
    font-size: 30px;
  }
}

.subPage-Main .subpage-header .row p {
  color: #ffffff;
  font-size: 21px;
  line-height: 35px;
}

.subPage-Main .subpage-header .move-top-video {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 10%;
  left: 50%;
  margin-left: -30px;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.subPage-Main .subpage-header .move-top-video:hover {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 10%;
  left: 50%;
}

.subPage-Main .subpage-header .move-top-video .icomoon {
  color: #ffffff;
  font-size: 45px;
}

.subPage-Main .subpage-header .brcrumb {
  border-bottom: 1px solid #ffffff;
}

.subPage-Main .subpage-header .brcrumb li a {
  color: #ffffff;
  position: relative;
}

.subPage-Main .subpage-header .brcrumb li a:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: inherit;
  bottom: inherit;
  left: 0;
}

.subPage-Main .subpage-header .brcrumb li:last-child a {
  color: #F68338;
}

.subPage-Main .subpage-header .brcrumb li:first-child a:before {
  content: '';
  display: none;
  padding-left: 0;
}

.subPage-Main .about-header {
  background-image: url(../img/about-header.jpg);
}

.subPage-Main .domain-header {
  background-image: url(../img/domain-header.jpg);
}

.subPage-Main .services-header {
  background-image: url(../img/services-header.jpg);
}

.subPage-Main .clients-header {
  background-image: url(../img/clients-header.jpg);
}

.subPage-Main .careers-header {
  background-image: url(../img/careers-header.jpg);
}

.subPage-Main .contact-header {
  background-image: url(../img/contact-header.jpg);
}

.subPage-Main :root {
  --animate-delay: 0.5s;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .h1 {
    font-size: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .h1 {
    font-size: 30px !important;
  }
}

.subPage-Main .subpage-body {
  min-height: 600px;
  overflow: hidden;
  padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body {
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body {
    padding: 25px 0;
  }
}

.subPage-Main .subpage-body p {
  font-size: 16px;
  text-align: justify;
}

.subPage-Main .subpage-body .h4 {
  line-height: 35px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .h4 {
    font-size: 17px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .h4 {
    font-size: 17px;
  }
}

.subPage-Main .subpage-body .overview-about {
  background: #ffffff;
  padding: 120px 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .overview-about {
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .overview-about {
    padding: 25px 0;
  }
}

.subPage-Main .subpage-body .overview-about:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(../img/black-twill.png) repeat 0 0;
  opacity: 0.1;
  z-index: 0;
}

.subPage-Main .subpage-body .countcol .h1 {
  font-size: 60px;
}

.subPage-Main .subpage-body .core-values {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.subPage-Main .subpage-body .core-values .valuescol article {
  height: 195px;
}

.subPage-Main .subpage-body .sectionpad {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .sectionpad {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .sectionpad {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.subPage-Main .subpage-body .team {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.subPage-Main .subpage-body .team .teamrow {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .team .teamrow h5 {
    padding-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .team .teamrow h5 {
    padding-top: 20px;
  }
}

.subPage-Main .subpage-body .team .teamrow .teamimg img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 10px;
  background: #ffffff;
}

@media (min-width: 768px) and (max-width: 990px) {
  .subPage-Main .subpage-body .team .teamrow .teamimg img {
    width: 165px;
    height: 165px;
  }
}

.subPage-Main .subpage-body .domainsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 990px) {
  .subPage-Main .subpage-body .domainsdiv {
    height: auto;
    padding: 65px 0;
  }
}

.subPage-Main .subpage-body .domainsdiv p {
  font-size: 16px;
}

.subPage-Main .subpage-body .domainsdiv .domainimg {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.subPage-Main .subpage-body .domainsdiv .domainimg:before {
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  top: -50px;
  right: inherit;
  bottom: inherit;
  left: -50px;
  background: #ffffff;
  opacity: 0.2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .domainsdiv .domainimg:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .domainsdiv .domainimg:before {
    display: none;
  }
}

.subPage-Main .subpage-body .domainsdiv .domainimg:after {
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  top: inherit;
  right: -50px;
  bottom: -50px;
  left: inherit;
  background: #ffffff;
  opacity: 0.2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage-Main .subpage-body .domainsdiv .domainimg:after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPage-Main .subpage-body .domainsdiv .domainimg:after {
    display: none;
  }
}

.subPage-Main .subpage-body .domainsdiv .domainimg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  position: relative;
}

.domainsdiv:nth-child(1) {
  background: #fff;
}

.domainsdiv:nth-child(2) {
  background: #035AA6;
}

.domainsdiv:nth-child(3) {
  background: #fff;
}

.domainsdiv:nth-child(4) {
  background: #698D00;
}

.domainsdiv:nth-child(5) {
  background: #fff;
}

.domainsdiv:nth-child(6) {
  background: #EF962D;
}

.domainsdiv:nth-child(7) {
  background: #fff;
}

.domainsdiv:nth-child(8) {
  background: #cdb30c;
}

.services-page {
  background: #ffffff;
  position: relative;
}

.services-page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(../img/black-twill.png) repeat 0 0;
  opacity: 0.1;
  z-index: 0;
}

.serevice-row {
  padding-bottom: 50px;
}

.serevice-row:nth-child(even) .service-article {
  right: -50px;
  left: inherit;
  text-align: right;
}

.serevice-row:nth-child(even) .service-article p {
  text-align: right;
}

.serevice-row:last-child {
  padding-bottom: 0;
}

.serevice-row .service-article {
  background: #ffffff;
  padding: 35px;
  width: 100%;
  position: relative;
  left: -50px;
  width: 100%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.serevice-row .service-article p {
  padding-bottom: 0;
  text-align: left;
}

.domainrow {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
  padding-top: 50px;
}

.domainrow .icomoon {
  font-size: 120px;
}

.row-service {
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .row-service {
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .row-service {
    padding: 25px 0;
  }
}

.row-service:nth-child(even) .icomoon {
  position: absolute;
  top: -50px;
  right: inherit;
  bottom: inherit;
  left: 0;
}

.row-service:nth-child(odd) .icomoon {
  position: absolute;
  top: -50px;
  right: 0;
  bottom: inherit;
  left: inherit;
}

.row-service .icomoon {
  font-size: 225px;
  color: #000000;
  opacity: 0.1;
}

.clientsrow img {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

.careercol {
  height: 250px;
  padding: 25px;
  position: relative;
  color: #ffffff;
}

.careercol p {
  padding: 0 50px 0 0;
  text-align: left !important;
}

.careercol .icomoon {
  font-size: 120px;
  color: #ffffff;
  opacity: 0.3;
  position: absolute;
  top: inherit;
  right: 25px;
  bottom: 25px;
  left: inherit;
}

.careercol:nth-child(1) {
  background: #932AC8;
}

.careercol:nth-child(2) {
  background: #035AA6;
}

.careercol:nth-child(3) {
  background: #EF962D;
}

.careercol:nth-child(4) {
  background: #0e9aa7;
}

.current-jobpostings .accordion h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.current-jobpostings .accordion h1 span {
  display: block;
  font-size: .5em;
}

.current-jobpostings .accordion a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.current-jobpostings .accordion a:hover,
.current-jobpostings .accordion a:focus {
  color: #ec407a;
  border-bottom: none;
}

.current-jobpostings .accordion h3 {
  font-weight: 500;
  background: #ffffff;
  border: 1px solid #eee;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 18px;
}

.current-jobpostings .accordion .intro {
  font-size: 1.25em;
}

.current-jobpostings .accordion .js .panel-title {
  margin: 0;
}

.current-jobpostings .accordion .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.current-jobpostings .accordion .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.current-jobpostings .accordion .panel-title a:hover,
.current-jobpostings .accordion .panel-title a:focus {
  color: #37474f;
}

.current-jobpostings .accordion .panel-title a:hover .icon,
.current-jobpostings .accordion .panel-title a:focus .icon {
  color: #0076C5 !important;
}

.current-jobpostings .accordion .panel-title a.active {
  color: #F68338 !important;
}

.current-jobpostings .accordion .panel-title a.active .icon {
  color: #0076C5 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.current-jobpostings .accordion .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.current-jobpostings .accordion .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.current-jobpostings .accordion [id^="panel-"] {
  padding-bottom: 2em;
}

.current-jobpostings .accordion .panel-content {
  padding: 25px;
}

.list-items::after {
  display: block;
  content: "";
  clear: both;
}

.list-items li {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  margin-right: 15px;
}

.list-items li:before {
  content: "\f00c";
  font-size: 18px;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  font-family: 'icomoon' !important;
  margin-right: 10px;
  color: #7DC000;
}

.contactcol {
  color: #ffffff;
  min-height: 400px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .contactcol {
    text-align: center;
  }
}

.contactcol article {
  padding: 25px;
}

.contactcol article p {
  text-align: left !important;
  color: #ffffff;
}

.contactcol img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.contactcol img:hover {
  opacity: 0.6;
}

.contactcol:nth-child(1) {
  background: #932AC8;
}

.contactcol:nth-child(2) {
  background: #035AA6;
}

.contactcol:nth-child(3) {
  background: #EF962D;
}

@media (min-width: 320px) and (max-width: 575px) {
  .contact-col {
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .contact-col {
    padding: 25px 0;
  }
}

.contact-col a {
  color: #000000;
  font-size: 17px;
}

.contact-col a:hover {
  color: #F68338;
}

.contact-col .icon-col {
  position: relative;
  margin-bottom: 40px;
}

.contact-col .icon-col:before {
  content: '';
  width: 50px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.contact-col .icon-col .icomoon {
  font-size: 60px;
}

.header-social {
  padding: 25px 0 0 25px;
  position: relative;
  z-index: 99;
}

.header-social .nav-item {
  margin-right: 10px;
}

.header-social .nav-item .nav-link {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  line-height: 35px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.header-social .nav-item .nav-link .icomoon {
  color: #000000;
}

.header-social .nav-item .nav-link:hover {
  background: #7DC000;
}

.header-social .nav-item .nav-link:hover .icomoon {
  color: #ffffff;
}

.white-section {
  background: #ffffff;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .white-section {
    height: auto;
    padding: 25px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .white-section {
    height: auto;
    padding: 25px 0;
  }
}

.white-section .section-title {
  color: #000000;
}

.white-section p {
  color: #000000;
}

.white-section:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url(../img/black-twill.png) repeat 0 0;
  opacity: 0.1;
  z-index: 0;
}

.white-section .products-article {
  color: #000000;
}

.white-section .domainimg:after {
  background: #000 !important;
}

.white-section .domainimg:before {
  background: #000 !important;
}

.custlink {
  border: 1px solid #000000 !important;
  color: #000000 !important;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.custlink:hover {
  background: #7DC000;
  color: #ffffff !important;
  border: 1px solid #7DC000 !important;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 0;
}

.form-group .form-control {
  border-radius: 0;
  height: 45px;
}

::-webkit-input-placeholder {
  font-size: 13px;
}

:-ms-input-placeholder {
  font-size: 13px;
}

::-ms-input-placeholder {
  font-size: 13px;
}

::placeholder {
  font-size: 13px;
}

.left-submenu .closenav {
  z-index: 9999;
  display: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .left-submenu .closenav {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .left-submenu .closenav {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  h2.resp-accordion {
    padding: 20px 15px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h2.resp-accordion {
    padding: 20px 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  h2.resp-accordion {
    padding: 20px 15px !important;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  h2.resp-tab-active {
    padding: 20px 15px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h2.resp-tab-active {
    padding: 20px 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  h2.resp-tab-active {
    padding: 20px 15px !important;
  }
}
/*# sourceMappingURL=style.css.map */