@import 'mixins';
@import 'variables';

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

//font-family: 'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

//font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    text-decoration: none;
}
ul, li{
    list-style: none;
    margin:0;
    padding:0;
}

body{
    @include sitefont;
}

h1, h2, h3, h4{
   font-family: $uff;
   font-weight:600;
}

a{
    &:hover{
        color:inherit;
        text-decoration: none;
    }
}

.fwhite{
    color:$white;
}

.cust-container{
    width:80%;
    margin:0 auto;

    @include mob{
        width:90%;
    }
}

.brd-link{
    background:transparent;
    padding:12px 25px;
    border:1px solid $white;   
    text-align:center;
    color:$white;
    @include transition;
}
.fsbold{
   font-weight:500; 
}
.flight{
    font-weight:300;
}
.fbold{
    font-weight:700;
}
.ligtgraybg{
    background:#F5F4F4;
}
.lightgreenbg{
    background:#FBFFF5;
}
.fgray{
    color:lighten($black, 50%);
}




.dynamic-header{
    .mid-nav{
        opacity:0;
        margin-top:-100px;
    }
}

.dynamic-subheader{
    background:$white;
    @include shadowbot;
    z-index:99;

    .navbar-brand{
        img{
            width:160px;           
        }
    }

    .bsnav{
        padding-top:0;
        padding-bottom:10px;
        @include transition;
    }

    .nav-link{
        color:$black!important;
    }
}


//header 
header{

    .navbar-brand{
        img{
            width:200px;

            @include tab{
                width:160px;
            }
        }
    }
    .mid-nav{
        @include mob{
            display:none;
        }
        @include mlscape{
            display:none;
        }
        .nav-link{
            font-family: $uff;
            color:$white;
            padding-left:12px!important;
            padding-right:12px!important;

            @include tab{
                padding-left:6px!important;
                padding-right:6px!important;
            }
    
            &:hover{
                color:$green;
            }
        }
    }
    .rt-nav{
        .search-icon{
            .icomoon{
                font-size:$fsize + 5;
                color:$white;
            }
        }
        .hamburg{
            width:45px;
            height:45px;
            background:$white;
            border-radius:50%;
           line-height:23px;
           @include shadowbot;
           

            .icomoon{
                font-size:$fsize;               
            }
        }
    }
}

.brd-link{
    font-size:$fsize + 2;
    @extend .fsbold;
    &:hover{
        background:$white;
        color:$black;
        border:1px solid $white;
    }
}

//single page navigation


//first banner
.banner-home{      

    @include mob{
        height:100vh!important;
        padding:0!important;
    }

    .swiper-pagination-bullets{
        bottom:40px;

        .swiper-pagination-bullet{
            width:30px;
            background:$white;
            border-radius:0;
            height:4px;
            opacity:1;
            @include transition;
        }
        .swiper-pagination-bullet-active{
            background:$blue;
            height:4px;
            width:55px;
        }
    }

    .swiper-slide{
        background-repeat:no-repeat;
        background-position: 0 0;
        background-size:cover;
        @include verticalcenter;
        justify-content: left;
        position:relative;

        &:before{
            content:'';
            width:100%;
            height:100%;
            @include gradientbg;
            opacity:0.2;
            @include positionall(0,0,0,0);
        }
        &:after{
            content:'';
            width:100%;
            height:100%;
            background:url(../img/bg-trans.png)repeat 0 0;          
            @include positionall(0,0,0,0); 
            opacity:0.6;
        }
    }

    .sl01{
        background-image:url(../img/section01bg.jpg);
    }
    .sl02{
        background-image:url(../img/section02bg.jpg);
    }
    .sl03{
        background-image:url(../img/section03bg.jpg);
    }
    .sl04{
        background-image:url(../img/section04bg.jpg);
    }    
   
    .container{       
        position:relative;
        z-index: 9;   
        height:auto!important;   

        article{
            width:60%;
            padding:50px 0 10px 50px;
            border-top:2px solid $white;
            border-left:2px solid $white;
            text-align:left;

            @include tab{
                width:90%;
                margin-left:10%;
            }

            @include mob{
                border:none;
                width:100%;
                padding:50px 0 10px 15px;
            }
            @include mlscape{
                border:none;
                width:100%;
                padding:50px 0 10px 15px;
            }

            h1{
                line-height:55px;
                padding-bottom:25px;
                font-family:$foswald;
                font-size:$fsize * 4;

                @include mob{
                    font-size:$fsize * 2 + 5;
                    padding-bottom:5px;
                }
                @include mlscape{
                    font-size:$fsize * 2 + 5;
                    padding-bottom:5px;
                }
            }
            p{
                font-size:$fsize + 5;
                font-family: $uff;
                padding-bottom:20px;

                @include mob{
                    font-size:$fsize + 1;
                }
                @include mlscape{
                    font-size:$fsize + 1;
                }
            }            
        }

    }   
}
//first banner ends 

 //services
 .services{
    background:#035AA6;    

    .serviceleft-img{
        height:100vh;
        @include objectfitcover;
        width:100%;
    }
   
    .right-services{
        padding:5%;  
        @include verticalcenter;  
        height:100%;

        .service-col{
            padding:0 0 25px 15px;
            color:$black;

            @include mob{
                padding:0 0 24px 15px;
            }
            @include mlscape{
                padding:0 0 24px 15px;
            }
            .icomoon{
                font-size:$fsize * 3 + 10;
                color:$black;
            }
            .h5{
                @include mob{
                    font-size:$fsize + 2;
                }
                @include mlscape{
                    font-size:$fsize + 2;
                }
            }

            .link{
                @include transition;
                color:$black;
                &:hover{
                    color:$black;

                    .icomoon{
                        color:$black;
                    }
                }
                .icomoon{
                    font-size:$fsize;
                    top:3px;
                    position:relative;
                }
            }          
           
        }    
    }   
}
//services ends 

    //about 
    .aboutdiv{
        background:#EF962D;

        @include mob{
            height:auto!important;
            padding:50px 0;
        }

        @include mlscape{
            height:auto!important;
            padding:25px 0;
        }

        .container{
            @include verticalcenter;
        }

        .ltarticle{
            position:relative;          
            padding-right:50px;
            text-align:left;

            @include mob{
                padding-right:0;
            }
            @include mlscape{
                padding-right:0;
            }

            p{
                font-size:$fsize + 5;
                line-height:40px;

                @include mob{
                    font-size:$fsize;
                    line-height:28px;
                }
                @include mlscape{
                    font-size:$fsize;
                    line-height:28px;
                }
            }
        }
        .teamcol-main{
            position:relative;
            top:20%;

            .col-md-3{
                padding-left:0;
            }
        }
        .teamcol{
           position:relative;          
        }        
    }
    //about ends 

    
    //products 
    .products{
        background:#932AC8;

        .container{
            justify-content: left;
            flex-wrap: wrap;
        }
        .product-row{
            display:flex;

            @include mob{
                flex-wrap: wrap;
            }
            @include mlscape{
                flex-wrap: wrap;
            }
            .product-col{
                width:33.3%;
                padding:5px;
                position:relative;

                @include mob{
                    width:100%;
                }
                @include mlscape{
                    width:50%;
                }

                .title-product{
                    font-size:$fsize + 3;
                    color:$white;
                    @include positionall(inherit,10px,10px,inherit);
                    @extend .fsbold;
                }
            }
        }
        .products-article{
            position:relative;          
        }
    }
    //products ends 

    
    //testimonials
    .testimonials{
        background:#698D00;

        @include mob{
            padding-top:30px!important;
        }

        @include mlscape{
            height:auto!important;
            padding:25px 0;
        }

        .cust-container{
            justify-content: flex-end;

            .row{
                width:100%;
            }
        }  
        
        .swiper-container{
            padding-top:50px;

            @include mob{
                padding-top:20px;
            }
            @include mlscape{
                padding-top:20px;
            }

            .swiper-slide{
                flex-wrap: wrap;
                p{
                    font-size:$fsize * 2;
                    text-align:left;
                    line-height:40px;

                    @include mob{
                        font-size:$fsize + 1;
                        line-height:30px;
                    }
                    @include mlscape{
                        font-size:$fsize + 1;
                        line-height:30px;
                    }
                }
                .test-name{
                    width:100%;
                    small{
                        font-size:13px;
                    }
                    .h5{
                        font-size:$fsize + 10;
                        margin-bottom:0;
                        width:100%;
                        text-align:right;
                    }
                }
            }
            .swiper-pagination{
                text-align:left;

                .swiper-pagination-bullet{
                    width:40px;
                    height:3px;
                    background:$white;
                    border-radius:0;

                    &:focus{
                        border:none;
                    }
                }
            }
        }
    }
    //testimonials

    .brd-link{
        border-color:$black;
        color:$black;
        margin-top:20px;

        &:hover{
            background:$black;
            color:$white;
        }
    }

    
    //careers
    .careers{

        @include mob{
            padding:25px 0;
        }
        @include mlscape{
            padding:25px 0;
        }
        background:#848ccf;

        .careertext-col{
            background:$white;
            @include shadowbot;
            padding:40px 0;
            position:relative;
            z-index:10;
            margin:-75px 0 0 0;
            color:$black;

            @include mob{
                margin:-75px 15px  15px;
                padding:0px 0 35px 0;
            }
            @include mlscape{
                margin:-75px 15px  15px;
                padding:0px 0 35px 0;
            }

            
        }
    }
    //careers


.slidediv{

    .container{
        height:100%;
        @include verticalcenter;
        place-content: flex-start;
    }
    .cust-container{
        @include verticalcenter;
        height:100%;
    }
    .section-title{
        font-size:$fsize * 3;
        font-family: $uff;   
        
        @include mob{
        font-size:$fsize * 2 - 2;
        }
        @include mlscape{
            font-size:$fsize * 2 - 2;
            }
    }
    color:$white;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }



.slidediv {
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;

    @include mob{
        height:auto;
        padding:30px 0;
    }

    p{
        font-size:$fsize + 2;

        @include mob{
            font-size:$fsize;
        }
        @include mlscape{
            font-size:$fsize;
        }
    }
  }

  .links{
	position:fixed;
	top:50%;
    left:0;
    z-index:99;
    margin-top:-12%;

    @include mob{
        display:none;
    }
    @include mlscape{
        display:none;
    }

    a{
        display: block;      
        margin: 35px 10px;
        cursor: pointer;  
        @include transition;
        position:relative;       
        box-sizing: border-box;
        padding:10px 20px;
        width:200px;
        height:1px;   
        
        &:before{
            content:'';
            width:40px;
            height:1px;
            background: $white;
            opacity:0.6;
            @include transition;
            @include positionall(0,inherit,inherit,0)
        }   

        span{
            display:none;
            opacity:0;
            @include transition;
            left:-10px;
        }

        &:hover{
            &:before{
                content:'';
                width:60px;
                height:2px;
                background: $white;
                opacity:1;
                @include transition;
                @include positionall(0,inherit,inherit,0) 
            }
            span{
                @include positionall(8px,inherit,inherit,0);
                display:block;
                font-size:$fsize - 3;
                color:$white;
                line-height:15px;
                opacity:1;
                left:0;
            }
        }
    }
}

.dynamicLinks{
    a{     
        
        &:before{           
            background: $black;
            opacity:0.8;
          
        }  

        &:hover{
            &:before{               
                background: $black;
                opacity:1;               
            }
            span{
                color:$black; 
            }
        }
    }  
    a.Select-nav{
        &:before{
            content:'';          
            background: $black;
            opacity:1;           
        }
        span{ 
            color:$black;
            opacity:1;
        }
    }  
}


a.Select-nav{
	&:before{
        content:'';
        width:60px;
        height:2px;
        background: $white;
        opacity:1;
        @include transition;
        @include positionall(0,inherit,inherit,0) 
    }
    span{
        @include positionall(8px,inherit,inherit,0);
        display:block;
        font-size:$fsize - 3;
        color:$white;
        line-height:15px;
        opacity:1;
    }
}

  footer{
      background:#F3F8FF;
      padding-top:50px;

      .col-sm-6{
          @include mlscape{
              padding-top:25px;
          }
      }

      .h5{
          @include mob{
              font-size:$fsize + 1;
          }
          @include mlscape{
            font-size:$fsize + 1;
        }
      }

      p{
          font-size:$fsize - 2;
          line-height:22px;
      }

      ul{
          margin:0;
          padding:0;

          @include mob{
              padding-bottom:30px;
          }

          li{
              a{              
                font-size:$fsize - 1;
                padding:2px 0;
                display:block;
                color:$black;

                  &:hover{
                      color:$blue;
                  }
              }
          }
      }
      .footer-social{
          .nav-link{
              width:35px;
              height:35px;
              background:$white;
              border-radius:50%;
              line-height:30px;
              padding:10px 3px;
              display:inline-block;
              text-align:center;
              @include shadowbot;
              line-height:20px;
              margin:10px 5px;
          }
      }
      .movetop{
        width:50px;
        height:50px;         
        position:fixed;
        bottom:15px;
        right:15px;
        border-radius:50%;
        display:inline-block;
        text-align:center;
        line-height:53px;
        display:none;
        background:$orange;
        z-index: 999;
        @include transition;

        &:hover{
            background:$green;              
        }

        .icomoon{
            font-size:$fsize + 6;
            color:$white;
        }
    }
  }

  .closenav{
    width:50px;
    height:50px;
    background:$white;
    border-radius:50%;
    position:absolute;
    right:10px;
    top:15px;
    @include shadowbot;
    display:inline-block;
    text-align:center;
    line-height:60px;
    z-index: 999;
    cursor: pointer;
    
    .icomoon{
        font-size:$fsize * 2 - 5;
    }
}


  //slide navigation
  .slide-nav{
      width:100%;
      height:100vh;
      position:fixed;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background:rgba(0,0,0,0.6);
      z-index: 9999;
      @include transition;
     

      .right-nav{  
          height:100vh;
          padding:35px 35px 0 0;
          position:relative;
          background:$white;    
          overflow-y:auto;
          
          @include mob{             
              z-index: 9;
              @include positionall(0,0,0,0);
          }      

          

          .submenu-brand{
              margin-bottom:20px;
              position:relative;
              z-index:999;
              display:inline-block;
              left:35px;

              @include mob{
                  top:-24px;
              }
              @include mlscape{
                top:-24px;
            }
              img{
                  width:150px;
              }
          }

          &:before{
              content:'';
              @include positionall(0,0,0,0);
              background:#fff url(../img/black-twill.png)repeat 0 0;
              opacity:0.1;
              z-index: 0;
          }
          .primary-nav{
              position:relative;
              z-index:99;
              margin:0;
              padding:0;
              li{
                  position:relative;
                  a{
                      font-size:$fsize * 2 - 10;
                      font-family: $uff;
                      color:$black;
                      padding-bottom:15px;
                      display:block;
                      font-weight:600;  
                      position:relative;
                      padding-left:35px;

                      &:before{
                          content:'';
                          width:1px;
                          height:3px;
                          background:$black;
                          position:absolute;
                          bottom:8px;
                          opacity:0;  
                          @include transition;
                      }
                      &:hover{
                          color:gray;

                          &:before{
                              content:'';
                              width:30px;
                              opacity:1;
                          }
                      }

                      
                  }
              }
          }
          .secondary-nav{           
            position:relative;
            z-index:999;
            margin:0;
            padding:0 0 0 35px;

            li{
                a{
                    color:$black;
                    cursor: pointer;
                    padding:5px 0;
                    display:block;
                    @include transition;

                    &:hover{
                        color:gray;
                    }
                }
            }           
        } 
      }
     
      

    }

    .sub01_01{
        // background:url(../img/data/navigateotoYourNext/being-resilient-lead-menu.jpg)no-repeat 0 0;
        background:#07689f;
        background-size:cover;
        height:50vh;
        width:100%;
        display:block;
        position:relative;

        .icomoon{
            font-size:$fsize * 10;
            color:$white;
            opacity:0.6;
            @include positionall(inherit,20px,20px,inherit);
        }

        @include mob{
            background:#d54062;
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }
    }

    .childdiv{
        .h2{
            font-size:$fsize * 3;
            color:$white;
            font-family: $uff;
            padding:25px;
            padding-left:25px;

            @include mob{
                font-size:$fsize * 2;
            }
            @include mlscape{
                font-size:$fsize * 2;
            }

            a{
                color:$white;
            }
        }
    }
    .colorcd1{
        // background:#DF9926 url(../img/data/navigateotoYourNext/digital-capabilities-menu.jpg)no-repeat center center;
        background:#DF9926;
        background-size:cover;
        height:50vh;
        display:block;
        width:100%;
        position:relative;

        .icomoon{
            font-size:$fsize * 10;
            color:$white;
            opacity:0.6;
            @include positionall(inherit,20px,20px,inherit);
        }

        @include mob{
            background:#DF9926 ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }
        @include mlscape{
            background:#DF9926 ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }

        .h3{
            color:$white;
        }
    }
    .colorcd2{
        // background:#0f9ffa url(../img/data/navigateotoYourNext/digital-operating-models-menu.jpg)no-repeat center center;
        background:#0f9ffa;
        background-size:cover;
        height:50vh;
        display:block;
        width:100%;
        position:relative;

        .icomoon{
            font-size:$fsize * 10;
            color:$white;
            opacity:0.6;
            @include positionall(inherit,20px,20px,inherit);
        }

        @include mob{
            background:#0f9ffa ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }
        @include mlscape{
            background:#0f9ffa ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }

        .h3{
            color:$white;
        }
    }
    .colorcd3{
        // background:#963596 url(../img/data/navigateotoYourNext/talent-transformations-menu.jpg)no-repeat center center;
        background:#963596;
        background-size:cover;
        height:50vh;
        display:block;
        width:100%;
        position:relative;

        .icomoon{
            font-size:$fsize * 10;
            color:$white;
            opacity:0.6;
            @include positionall(inherit,20px,20px,inherit);
        }

        @include mob{
            background:#963596 ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }
        @include mlscape{
            background:#963596 ; 
            height:25vh;
            @include verticalcenter;
            justify-content: left;
        }


        .h3{
            color:$white;
        }
    }

    .submenu{
        position: relative;
        left:-100%;
        @include transition;
        opacity:0;
        background:$white;

    }

    .submenuAddClass{
        @include positionall(0,0,0,0);
        @include transition;
        opacity:1;
        background:$white;
        z-index: 999;
        width:100%;
    }


    .Industries{
        padding:20px;
        .col-md-6{             
            margin-top:-1px;
            margin-left:-1px;   
            border:1px solid gray;
            padding:0;

            &:hover{
                background:$green;
                color:$white;

                a{
                    color:$white;
                }
            }
             
            
            .h5{
                a{
                    font-size:$fsize - 1;
                    color:$black;
                    padding:30px 20px;
                    width:100%;
                    display:block;
                    height:100%;
                    @include verticalcenter;
                    text-align:left;
                    justify-content: left;

                    .icomoon{
                        font-size:$fsize + 10;
                        padding:0 10px 0 0;
                    }

                    @include mob{
                        padding:12px;
                    }
                    &:hover{
                        background:$green;
                        color:$white;
                    }
                }
            }
        }
        
    }


    .subPage-Main{
        min-height:1000px;

        //hgeader 
        .subpage-header{
            background-size:cover;
            background-position: 0 0;
            background-repeat: no-repeat;
            width:100%;
            height:100vh;
            position: relative;
            @include verticalcenter;

            @include tab{
                height:50vh;
                background-size:inherit;
                margin-bottom:25px;
            }

            @include mob{
                height:55vh;
                background-size:inherit;
                margin-bottom:25px;
            }

            &:before{
                content:'';
                width:100%;
                height:100%;
               @include gradientbg;
                opacity:0.05;
                @include positionall(0,0,0,0);
            }
            &:after{
                content:'';
                width:100%;
                height:100%;
                background:url(../img/bg-trans.png)repeat 0 0;          
                @include positionall(0,0,0,0); 
                opacity:0.8;
            }
            .row{
                position:relative;
                z-index:9;

                h1{
                    font-family: $foswald;
                    color:$white;
                    font-size:$fsize * 4;

                    @include mob{
                        font-size:$fsize * 2;
                    }
                    @include mlscape{
                        font-size:$fsize * 2;
                    }
                }
                p{
                    color:$white;
                    font-size:$fsize + 6;
                    @extend .flight;
                    line-height:$fsize * 2 + 5;
                }
            }
            .move-top-video{
                width:65px;
                height:65px;
                @include verticalcenter;
                border:1px solid $white;
                border-radius:50%;
                @include positionall(inherit,inherit,10%,50%);
                margin-left:-30px;
                z-index:999;
                @include transition;
                animation-duration:5s; 
        
                &:hover{
                    @include positionall(inherit,inherit,10%,50%);
                }
        
                .icomoon{
                    color:$white;
                    font-size:$fsize * 3;
                }
            }
            .brcrumb{
                border-bottom:1px solid $white;
               li{
                   a{
                       color:$white;
                       position:relative;

                       &:before{
                           content:'';
                           width:8px;
                           height:8px;
                           background:$white;
                           border-radius:50%;
                           @include positionall(18px,inherit,inherit,0);
                       }
                   }

                   &:last-child{
                       a{
                           color:$orange;
                       }
                   }
                   &:first-child{
                        a{
                            &:before{
                                content:'';
                                display:none;
                                padding-left:0;
                            }
                        }
                   }
               }
            }
        }
        .about-header{
            background-image: url(../img/about-header.jpg);
        }
        .domain-header{
            background-image: url(../img/domain-header.jpg);
        }
        .services-header{
            background-image: url(../img/services-header.jpg);
        }
        .clients-header{
            background-image: url(../img/clients-header.jpg);
        }
        .careers-header{
            background-image: url(../img/careers-header.jpg);
        }
        .contact-header{
            background-image: url(../img/contact-header.jpg);
        }
       //header ends 

       /* All delay classes will take half the time to start */
        :root {
            --animate-delay: 0.5s;
        }

        .h1{
            @include mob{
                font-size:$fsize * 2!important;
            }
            @include mlscape{
                font-size:$fsize * 2!important;
            }
        }

       //main body 
       .subpage-body{
           min-height:600px;
           overflow:hidden;
           padding:100px 0;   
           
           @include mob{
               padding:25px 0;
           }
           @include mlscape{
            padding:25px 0;
        }

           p{
               font-size:$fsize + 1;                         
               text-align:justify;
               @extend .flight;
           }

           .h4{
               line-height:35px;

               @include mob{
                   font-size:$fsize + 2;
               }
               @include mlscape{
                font-size:$fsize + 2;
            }
           }

           .overview-about{
               background:$white;
               padding:120px 0;
               position:relative;

               @include mob{
                  padding:25px 0;
               }
               @include mlscape{
                padding:25px 0;
             }

               &:before{
                content:'';
                @include positionall(0,0,0,0);
                background:#fff url(../img/black-twill.png)repeat 0 0;
                opacity:0.1;
                z-index: 0;
            }
           }
           .countcol{
               .h1{
                   font-size:$fsize * 4;
                   @extend .fbold;                 
                  
               }
           }
           
           .core-values{     
               @include shadowbot;     

                .valuescol{
                    article{
                        height:195px;
                    }
                }
            }
           .sectionpad{
               padding-top:100px;
               padding-bottom:100px;

               @include mob{
                   padding-top:20px;
                   padding-bottom:20px;
               }
               @include mlscape{
                padding-top:20px;
                padding-bottom:20px;
            }
           }
           .team{
               @include shadowbot;

               .teamrow{
                   padding:30px 0;
                   border-bottom:1px solid #eee;

                   h5{
                       @include mob{
                           padding-top:20px;
                       }
                       @include mlscape{
                        padding-top:20px;
                    }
                   }
                  
                   .teamimg{
                        img{
                            width:200px;
                            height:200px;
                            @include objectfitcover;
                            border-top-right-radius: 50%;
                            border-top-left-radius: 50%;
                            border-bottom-right-radius: 50%;
                            @include shadowbot;
                            padding:10px;
                            background:$white;

                            @include tab{
                                width:165px;
                                height:165px;
                            }
                        }
                   }
               }
           }
           .domainsdiv{
               @include tab{
                   height:auto;
                   padding:65px 0;
               }
               @include verticalcenter;
               p{
                   font-size:$fsize + 1;
                   @extend .flight;
               }
               .domainimg{
                   width:100%;
                   margin:0 auto;
                   position:relative;

                   &:before{
                    content:'';
                    width:150px;
                    height:150px;
                    @include positionall(-50px,inherit,inherit,-50px);
                    background:$white;
                    opacity:0.2;

                    @include mob{
                        display:none;
                    }
                    @include mlscape{
                        display:none;
                    }
                }
                &:after{
                    content:'';
                    width:150px;
                    height:150px;
                    @include positionall(inherit,-50px,-50px,inherit);
                    background:$white;
                    opacity:0.2;

                    
                    @include mob{
                        display:none;
                    }
                    @include mlscape{
                        display:none;
                    }
                }

                   img{
                       width:100%;
                       height:auto;
                       @include objectfitcover;
                       position:relative;
                   }
               }
           }           
       }  
       //main body ends 
    }

.domainsdiv{
    &:nth-child(1){
        background:#fff;
    }
    &:nth-child(2){
        background:#035AA6;
    }
    &:nth-child(3){
        background:#fff;
    }
    &:nth-child(4){
        background:#698D00;
    }
    &:nth-child(5){
        background:#fff;
    }
    &:nth-child(6){
        background:#EF962D;
    }
    &:nth-child(7){
        background:#fff;
    }
    &:nth-child(8){
        background:#cdb30c;
    }
}

.services-page{
    background:$white;   
    position:relative;

    &:before{
     content:'';
     @include positionall(0,0,0,0);
     background:#fff url(../img/black-twill.png)repeat 0 0;
     opacity:0.1;
     z-index: 0;    
    }
}

.serevice-row{
    padding-bottom:50px;
    &:nth-child(even){
        .service-article{
            right:-50px;
            left:inherit;
            text-align:right;

            p{
                text-align:right;
            }
        }
    }
  
   
    &:last-child{
        padding-bottom:0;
    }
    .service-article{
        background:$white;
        padding:35px;
        width:100%;
        position:relative;
        left:-50px;
        width:100%;
        @include shadowbot;

        p{
            padding-bottom:0;
            text-align:left;
        }
    }
}

.domainrow{
    border-bottom:1px solid #eee;
    padding-bottom:50px;
    padding-top:50px;
    .icomoon{
        font-size:$fsize * 8;
    }   
}

.row-service{
    position:relative;

    @include mob{
        padding:25px 0;
    }
    @include mlscape{
        padding:25px 0;
    }


    &:nth-child(even){
        .icomoon{
            @include positionall(-50px,inherit,inherit,0);
        }
    }
    &:nth-child(odd){
        .icomoon{
            @include positionall(-50px,0,inherit,inherit);
        }
    }
    .icomoon{
        font-size:$fsize * 15;
        color:$black;
        opacity:0.1;       
    }    
}

.clientsrow{
    img{
        padding:10px;
        border-radius:8px;
        border:1px solid #eee;  
        margin-bottom:15px;      
    }
}

.careercol{
    height:250px;
    padding:25px;
    position:relative;
    color:$white;

    p{
        padding:0 50px 0 0;
        text-align:left!important;
    }
    .icomoon{
        font-size:$fsize * 8;
        color:$white;
        opacity:0.3;
        @include positionall(inherit,25px,25px,inherit);
    }
    &:nth-child(1){
        background:#932AC8;
    }
    &:nth-child(2){
        background:#035AA6;
    }
    &:nth-child(3){
        background:#EF962D;
    }
    &:nth-child(4){
        background:#0e9aa7;
    }
}

.current-jobpostings{   

    .accordion{
        h1 {
            border-bottom: 1px solid #ececec;
            font-weight: 300;
            margin-bottom: 2em;
            padding-bottom: 1em;
            text-align: center;
          }
          h1 span {
            display: block;
            font-size: .5em;
          }
          a {
            border-bottom: 1px solid #ec407a;
            color: #607d8b;
            text-decoration: none;
          }
          a:hover,
          a:focus {
            color: #ec407a;
            border-bottom: none;
          }
          h3 {
            font-weight: 500;
            background:$white;
            border:1px solid #eee;
            padding:0 20px;
            font-size:$fsize;
            margin-bottom:18px;
          }
          .intro {
            font-size: 1.25em;
          }
          .js .panel-title {
            margin: 0;
          }
          .panel-title a {
            border-bottom: none;
            color: #292929;
            display: block;
            padding: 1.25em 0;
            position: relative;
            text-decoration: none;
            -webkit-transition: color 200ms ease 0s;
            -moz-transition: color 200ms ease 0s;
            transition: color 200ms ease 0s;
            width: 100%;
          }
          .panel-title a .icon {
            color: #9e9e9e;
            position: absolute;
            right: 0;
            -webkit-transition: all 200ms ease 0s;
            -moz-transition: all 200ms ease 0s;
            transition: all 200ms ease 0s;
          }
          .panel-title a:hover,
          .panel-title a:focus {
            color: #37474f;
          }
          .panel-title a:hover .icon,
          .panel-title a:focus .icon {
            color: $blue!important;
          }
          .panel-title a.active {
            color: $orange!important;
          }
          .panel-title a.active .icon {
            color: $blue!important;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          .js .accordion {
            border-bottom: 1px solid #ececec;
            margin: 2em 0;
          }
          .accordion .panel-title a {
            border-top: 1px solid #ececec;
          }
          [id^="panel-"] {
            padding-bottom: 2em;
          }
          .panel-content{
              padding:25px;
          }
     }     
}

.list-items{ 
    @include clearfix;
    
    li{
        padding-bottom:10px;
        padding-left:30px;
        position: relative;
        margin-right:15px;
      
        
        &:before{
            content: "\f00c";
            font-size:$fsize + 3;
            @include positionall(0, inherit, inherit, 0);           
            font-family: 'icomoon' !important;
            margin-right:10px;
            color:$green;
        }
    }
}

.contactcol{
    color:$white;
    min-height:400px;

    @include mlscape{
        text-align:center;
    }
    
    article{
        padding:25px;

        p{
            text-align:left!important;
            color:$white;
        }
    }

    img{
        @include transition;
        &:hover{
            opacity:0.6;
        }
    }

  
    &:nth-child(1){
        background:#932AC8;
    }
    &:nth-child(2){
        background:#035AA6;
    }
    &:nth-child(3){
        background:#EF962D;
    }
}

.contact-col{

    @include mob{
        padding:25px 0;
    }
    @include mlscape{
        padding:25px 0;
    }
    a{
        color:$black;
        font-size:$fsize + 2;       

        &:hover{
            color:$orange;
        }
    }
    .icon-col{
        position:relative;
        margin-bottom:40px;
        &:before{
          content:'';
          width:50px;
          height:2px;
          background:$black;
          @include positionall(inherit, inherit, -25px, 50%);
          margin-left:-25px;
        }
        .icomoon{
            font-size:$fsize * 4;           
        }
    } 
 }
 
 .header-social{
     padding:25px 0 0 25px;
     position:relative;
     z-index:99;
     .nav-item{
         margin-right:10px;
         .nav-link{
             width:50px;
             height:50px;
             background:$white;
             border-radius:50%;
             @include shadowbot;
             line-height:35px;
             text-align:center;
             @include transition;

             .icomoon{
                 color:$black;
             }

             &:hover{
                background:$green;

                .icomoon{
                    color:$white;
                }
             }
         }
     }
 }

 .white-section{
    background:$white;
    position:relative;

    @include mob{
        height:auto;
        padding:25px 0;
    }
    @include mlscape{
        height:auto;
        padding:25px 0;
    }

    .section-title{
        color:$black;
    }
    p{
        color:$black;
    }

    &:before{
        content:'';
        @include positionall(0,0,0,0);
        background:#fff url(../img/black-twill.png)repeat 0 0;
        opacity:0.1;
        z-index: 0;
    }

    .products-article{
        color:$black;
    }    
    .domainimg:after{
        background:#000!important;
    }
    .domainimg:before{
        background:#000!important;
    }
 }

 .custlink{
     border:1px solid $black!important;
     color:$black!important;
     @include transition;

     &:hover{
         background:$green;
         color:$white!important;
         border:1px solid $green!important;
     }
 }

 .form-group{
     label{
         font-size:$fsize - 1;
         margin-bottom:0;
     }
     .form-control{
         border-radius:0;
         height:45px;
     }
 }

 ::placeholder{
     font-size:$fsize - 2;
 }

 .left-submenu{

    .closenav{
        z-index:9999;    
        display:none;       

        @include mob{           
            display:block;       
         }
         @include mlscape{           
            display:none;       
         }
    }

    
 }

 h2.resp-accordion{
     @include mob{
         padding:20px 15px!important;
     }
     @include mlscape{
        padding:20px 15px!important;
    }
    @include tab{
        padding:20px 15px!important;
    }
 }

 h2.resp-tab-active{
    @include mob{
        padding:20px 15px!important;
    }
    @include mlscape{
       padding:20px 15px!important;
   }
   @include tab{
       padding:20px 15px!important;
   }
}



    